= semantic_form_for [@hospede] do |form|
  = form.input :nome, :label => 'nome'
  = form.input :cpf, :label => 'cpf'
  = form.input :rg, :label => 'rg'
  = form.input :telefone, :label => 'telefone'	
  = form.submit 'Salvar'

