<%= form_for(@aposento) do |f| %>
  <% if @aposento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aposento.errors.count, "error") %> prohibited this aposento from being saved:</h2>

      <ul>
      <% @aposento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pkidaposento %><br>
    <%= f.text_field :pkidaposento %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
