= semantic_form_for [@aposento] do |form|
  
  = form.input :hotel, :member_label => :nome, :label => 'hotel'
  

  = form.input :valor, :label => 'valor'
  = form.input :descricao, :label => 'descricao'
  = form.input :numero, :label => 'numero'

  = form.submit 'Salvar'
