= semantic_form_for [@consumo] do |form|
  = form.input :descricao, :label => 'descricao'
  = form.input :quantidade, :label => 'quantidade'
  = form.input :valorUnitario, :label => 'valorUnitario'	
  = form.submit 'Salvar'

